fastapi
uvicorn
pydantic
json
pickle
scikit-learn
requests
os
tqdm
torch
librosa
gradio
whisper
librosa
numpy
pytube
pathlib
textwrap
google.generativeai
IPython
transformers
peft
trl
locale
LoRA
QLora